/* Change the background color of the header */
body {
    color: rgba(47, 43, 61, 0.78);
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
}

header.pf-c-page__header{
    background-color: #0b220b !important;
}

div.pf-c-page__sidebar {
    background-color: #172f17 !important;
}